.card {
  max-width: 400px;
}
.header-text {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.mat-card-title{
  text-align: center;
}
.mat-card-avatar {
  width: 20%;
  padding: 5px;
  border-radius: .5px;
  border-style: solid;
  border-color: #039be5;
  border-width: 2px;
  text-align: center;
}
.mat-card-subtitle {
  margin: 0;
  margin-top: 100px;
}

/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
