<div *ngIf="hero">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar >{{ hero.level }}<br> Уровень</div>
      <mat-card-title class="header-text">{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content> <b>Класс:</b> {{ hero.classGroup }} </mat-card-content>
    <mat-card-content *ngIf="hero.fraction"><b>Фракция:</b> {{ hero.fraction }} </mat-card-content>
    <mat-card-content><b>Дата рождения:</b> {{ hero.dateOfBirth.toUTCString() }} </mat-card-content>
    <mat-card-content><b>Возраст:</b> {{age}}</mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onChange()">Изменить</button>
      <button mat-button (click)="goBack()">Назад</button>
    </mat-card-actions>
  </mat-card>

</div>
